.chosen-container {
    font-size: 12px !important;
}

.chosen-container .chosen-choices {
	min-height: 29px;
}

.chosen-container-multi .chosen-choices li.search-field {
	padding-top: 5px !important;
}