.loading-indicator {
	display: inline-block;
	vertical-align:top;
	margin-top:5px;
}

.woocommerce table.form-table .select2-container {
	display: inline-block !important;
}

.woocommerce-mailchimp-loading {
	margin-left: 5px;
	margin-top: 2px;
	display: inline-block;
}

.woocommerce-mailchimp-loading-indicator {
    color: #32373c;
}

.woocommerce-mailchimp-loading-indicator:before {
	font-family: dashicons;
    line-height: 1.5em;
    display: inline-block;
    font-size: 20px;
    line-height: 1;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
	content: "\f463";
}

.woocommerce-mailchimp-loading-indicator.loading:before {\
	-webkit-animation: rotation 2s infinite linear;
	animation: rotation 2s infinite linear;
}

.woocommerce-mailchimp-loading-indicator.success:before {
	color: #46b450;
	content: "\f147";
}

.woocommerce-mailchimp-loading-indicator.error:before {
	color: #dc3232;
	content: "\f534";
}